services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: bankuser
      POSTGRES_PASSWORD: bankpass
      POSTGRES_DB: bankdb
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U bankuser"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    environment:
      DATASOURCE_URL: jdbc:postgresql://postgres:5432/bankdb
      DATASOURCE_USERNAME: bankuser
      DATASOURCE_PASSWORD: bankpass
      JWT_SECRET: devsecretdevsecretdevsecretdevsecret
      CORS_ALLOWED_ORIGINS: http://localhost,http://localhost:5173,http://localhost:8080,http://localhost:80
      APP_CRYPTO_DATA_KEY_BASE64: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  dbdata:
